# -*- coding: utf-8 -*-
[Desktop Entry]
Name=Icewm
Comment=Simple and fast window manger
Exec=icewm-session
Terminal=false
TryExec=icewm
Type=Application

[X-Window Manager]
SessionManaged=true
